* {
  background: rgba(25, 25, 25, 0.0);
  /* box-sizing: border-box; */
  border: 0;
  box-shadow: none;
  shadow: none;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  color: white;
}

:root {
  --border-radius: 20px;
  --cc-bg: transparent;

  --widget-background: rgba(46, 46, 46, 0.0);
  --noti-bg-alpha: 0.6;
  --border: 1px solid rgba(255, 255, 255, 0.0);

  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  /* border-radius: 0; */
  background: rgba(25, 25, 25, 0.2);
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) / 2);
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 0px;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(46, 46, 46, 4);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}

.widget-mpris-player:only-child {
  margin: 0;
}

.widget-title label {
    font-size: 1.25rem;
    font-weight: bold;
    color: white; /* Đảm bảo chữ luôn nổi bật trên nền trong suốt */
}

/* Individual Notifications */
.notification-row {
    background: rgba(30, 30, 30, 0.0); /* Adjust color and transparency here */
}

.notification-background {
    background: rgba(30, 30, 30, 0.4); /* Adjust color and transparency here */
    border-radius: var(--border-radius);
    margin: 7px 0;
    padding: 0;
}

.notification-content {
    color: white; /* Ensure text is readable on transparent background */
}

/* Notification Widgets */
.widget-label, .widget-mpris {
    background: transparent;
}
